* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1b82d6;
}

.card {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    text-align: center;
    padding: 40px 35px;
}

.search {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    font-size: 14px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added a semicolon here */
}

.search input {
    border: none;
    outline: none;
    background: #ebfffc;
    width: 90%;
    margin-right: 16px;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 20px;
}

.search button {
    border: none;
    outline: none;
    background: #ebfffc;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.search button img {
    width: 25px;
}

.weather-icon {
    width: 100px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
    margin-top: -5px;
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}